@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sriracha&family=Victor+Mono:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.header{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: black;
    
}
.header > h1, h2{
    color: white;
    display: flex;
    justify-content: center;
}
.header > h1{
    font-size: 60px;
}

.header a{
    padding-left: 10px;
    font-style: oblique;
    text-decoration: none;
    color: white;
}
.header a:hover{
    text-decoration: underline;
}

.frases{
    
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    
}

.frases > article{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 1rem;
    font-family: 'Sriracha', cursive;
    
}

#fundo{
    background:lightgray url(imagens/background001.jpg) no-repeat fixed right center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    
}
.shadow{
    background-color: rgba(0, 0, 0, 0.418);
    width: max-content;
    color: white;
}
#fundo2{
    background:lightgray url(imagens/background002.jpg) no-repeat fixed right center;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

.footer{
    background-color: black;
    color: white;
    margin: auto;
}